<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/SQLD;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=COMP214F16_001_P_18" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="localOracle" connectionString="DATA SOURCE=localhost:1521/SDO;PERSIST SECURITY INFO=True;USER ID=C##A;password=password" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ConnectionString2" connectionString="DATA SOURCE=localhost:1521/SDO;PERSIST SECURITY INFO=True;USER ID=C##A;password=password" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.MaanagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>-->
</configuration>