/*
     * Author: Luke Lu
     * Student ID: 300804279
     * Course: COMP 229
     */
.radio {
    margin-left: 30px;
}

footer {
    margin-top:75px;
    background-color: #ffffff;
    padding: 10px;
    color:black;
}